Software/NodeRED/Draft V1/flows_FoodComputerPi.json
[{"type":"tab","id":"58911c33.a76ee4","label":"Manual_Relays","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"4a4c30e4.b5b3d","label":"Timed_Relays","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"a9495383.56b6b","label":"Gauge","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"75320603.8acdf8","label":"Charts","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"9ce3d7ef.631c28","label":"Webcam","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"bb3d78f.f44c288","label":"System Control","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"17071dee.e8f8e2","label":"Close_Loop","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"68e42ce0.dca744","label":"MQTT","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"746d4730.8b92b8","label":"Bluemix (undone)","_def":{"defaults":{"label":{"value":""}}}},{"id":"16137d65.0d2773","type":"mqtt-broker","z":"68e42ce0.dca744","broker":"192.168.1.4","port":"1884","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"121cebc6.ede314","type":"serial-port","z":"58911c33.a76ee4","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"false","out":"time","addchar":false},{"id":"c8cf753b.373088","type":"ui_tab","z":"58911c33.a76ee4","name":"Manual_Relay","icon":"dashboard","order":"1"},{"id":"1b14a129.e4eb5f","type":"ui_tab","z":"58911c33.a76ee4","name":"Sensor Readings","icon":"dashboard","order":"2"},{"id":"62169497.9de96c","type":"ui_tab","z":"58911c33.a76ee4","name":"Switches Charts","icon":"dashboard","order":"3"},{"id":"b79b7030.48649","type":"ui_tab","z":"58911c33.a76ee4","name":"Water Charts","icon":"dashboard","order":"1"},{"id":"4ad035e5.b52fcc","type":"ui_tab","z":"58911c33.a76ee4","name":"Light Charts","icon":"dashboard","order":"1"},{"id":"5b54feff.a4ab","type":"ui_tab","z":"58911c33.a76ee4","name":"Air Charts","icon":"dashboard","order":"1"},{"id":"7fc40e82.803bf","type":"ui_tab","z":"4a4c30e4.b5b3d","name":"Timed_Relays","icon":"dashboard","order":"2"},{"id":"f0b4174.f0f4be8","type":"ui_tab","z":"a9495383.56b6b","name":"Gauges","icon":"dashboard","order":"3"},{"id":"5108122f.aef7ec","type":"ui_tab","z":"75320603.8acdf8","name":"Air Charts","icon":"dashboard","order":"4"},{"id":"72cb665b.8d3498","type":"ui_tab","z":"75320603.8acdf8","name":"Water Charts","icon":"dashboard","order":"5"},{"id":"39c2ee79.c63d12","type":"ui_tab","z":"75320603.8acdf8","name":"Light Charts","icon":"dashboard","order":"6"},{"id":"fba3a3e9.045c6","type":"ui_tab","z":"75320603.8acdf8","name":"Safety Switches Charts","icon":"dashboard","order":"8"},{"id":"acb809b3.5347f8","type":"ui_tab","z":"9ce3d7ef.631c28","name":"Webcam","icon":"dashboard","order":"9"},{"id":"bf39c47b.40c638","type":"ui_tab","z":"bb3d78f.f44c288","name":"System Control","icon":"dashboard","order":"10"},{"id":"393b9b77.c6c464","type":"ui_tab","z":"17071dee.e8f8e2","name":"Close_Loop","icon":"dashboard","order":"10"},{"id":"4972b0f0.b68d5","type":"websocket-listener","z":"746d4730.8b92b8","path":"/ws/temp","wholemsg":"false"},{"id":"a85e7217.57a19","type":"websocket-client","z":"746d4730.8b92b8","path":"ws://univilledht11sensor.mybluemix.net/ws/temp","wholemsg":"false"},{"id":"11e4431a.ee1bbd","type":"wiotp-credentials","z":"746d4730.8b92b8","name":"","org":"7b38e9","devType":"RaspberryPi","devId":"RasPi01"},{"id":"ef762b1.661a6d8","type":"mqtt out","z":"68e42ce0.dca744","name":"","topic":"/food_computer_1/sensors","qos":"2","retain":"false","broker":"16137d65.0d2773","x":633,"y":182,"wires":[]},{"id":"f4caefba.0b351","type":"serial out","z":"58911c33.a76ee4","name":"","serial":"121cebc6.ede314","x":580,"y":260,"wires":[]},{"id":"9636c25a.69c94","type":"ui_switch","z":"58911c33.a76ee4","tab":"c8cf753b.373088","name":"Grow Light","topic":"","group":"AC Relays","order":1,"onvalue":"A","offvalue":"B","x":231,"y":156,"wires":[["f4caefba.0b351"]]},{"id":"ff0d2620.00f2d8","type":"ui_switch","z":"58911c33.a76ee4","tab":"c8cf753b.373088","name":"Heater","topic":"","group":"AC Relays","order":1,"onvalue":"C","offvalue":"D","x":211,"y":196,"wires":[["f4caefba.0b351"]]},{"id":"61e0b517.9e1f4c","type":"ui_switch","z":"58911c33.a76ee4","tab":"c8cf753b.373088","name":"Water Pump","topic":"","group":"AC Relays","order":1,"onvalue":"E","offvalue":"F","x":231,"y":236,"wires":[["f4caefba.0b351"]]},{"id":"52b7cd01.ad4834","type":"ui_switch","z":"58911c33.a76ee4","tab":"c8cf753b.373088","name":"Air Pump","topic":"","group":"AC Relays","order":1,"onvalue":"G","offvalue":"H","x":221,"y":276,"wires":[["f4caefba.0b351"]]},{"id":"bd598ad9.42a678","type":"ui_switch","z":"58911c33.a76ee4","tab":"c8cf753b.373088","name":"Enclosure Light","topic":"","group":"DC Relays","order":1,"onvalue":"I","offvalue":"J","x":241,"y":356,"wires":[["f4caefba.0b351"]]},{"id":"388b8054.c7748","type":"ui_switch","z":"58911c33.a76ee4","tab":"c8cf753b.373088","name":"Humidifier","topic":"","group":"DC Relays","order":1,"onvalue":"K","offvalue":"L","x":231,"y":396,"wires":[["f4caefba.0b351"]]},{"id":"66917bda.996e84","type":"ui_switch","z":"58911c33.a76ee4","tab":"c8cf753b.373088","name":"Ventilation Fan","topic":"","group":"DC Relays","order":1,"onvalue":"M","offvalue":"N","x":241,"y":436,"wires":[["f4caefba.0b351"]]},{"id":"c8a925ba.3756d8","type":"ui_switch","z":"58911c33.a76ee4","tab":"c8cf753b.373088","name":"Circulation Fan","topic":"","group":"DC Relays","order":1,"onvalue":"O","offvalue":"P","x":241,"y":476,"wires":[["f4caefba.0b351"]]},{"id":"3b32ad8c.c4cd52","type":"inject","z":"58911c33.a76ee4","name":"","topic":"","payload":"#","payloadType":"str","repeat":"10","crontab":"","once":false,"x":210,"y":100,"wires":[["f4caefba.0b351","4f9fb5b5.b0604c"]]},{"id":"fe36cda1.01c93","type":"serial in","z":"75320603.8acdf8","name":"","serial":"121cebc6.ede314","x":250,"y":360,"wires":[["1c835e46.e37ca2"]]},{"id":"1c835e46.e37ca2","type":"function","z":"75320603.8acdf8","name":"Split","func":"var outputMsgs = [];\nvar words = msg.payload.split(\",\");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nreturn [outputMsgs[0],outputMsgs[1],outputMsgs[2],outputMsgs[3],outputMsgs[4],outputMsgs[5],outputMsgs[6],outputMsgs[7],outputMsgs[8]];","outputs":"9","noerr":0,"x":430,"y":360,"wires":[["c9aadad9.365528"],["fe962d9.f0169d"],["a7d20bf1.582df8"],["f8bcafcb.07435"],["9553b080.6aac5"],["2b5bfd97.d4a402"],["a3ce9136.5c317"],["db3c9adf.24c368"],["c0226d2c.3fdd9"]]},{"id":"c9aadad9.365528","type":"ui_chart","z":"75320603.8acdf8","tab":"5108122f.aef7ec","name":"CO2 (ppm)","group":"CO2 (ppm)","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":690,"y":200,"wires":[[],[]]},{"id":"fe962d9.f0169d","type":"ui_chart","z":"75320603.8acdf8","tab":"5108122f.aef7ec","name":"Air Humidity (%)","group":"Air Humidity (%)","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":700,"y":240,"wires":[[],[]]},{"id":"a7d20bf1.582df8","type":"ui_chart","z":"75320603.8acdf8","tab":"5108122f.aef7ec","name":"Air Temperature (C)","group":"Air Temperature (C)","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":720,"y":280,"wires":[[],[]]},{"id":"f8bcafcb.07435","type":"ui_chart","z":"75320603.8acdf8","tab":"72cb665b.8d3498","name":"Water Temperature (C)","group":"Water Temperature (C)","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":730,"y":320,"wires":[[],[]]},{"id":"9553b080.6aac5","type":"ui_chart","z":"75320603.8acdf8","tab":"72cb665b.8d3498","name":"Electrical Conductivity (mS/cm)","group":"Electrical Conductivity (mS/cm)","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":750,"y":360,"wires":[[],[]]},{"id":"2b5bfd97.d4a402","type":"ui_chart","z":"75320603.8acdf8","tab":"72cb665b.8d3498","name":"pH","group":"pH","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":670,"y":400,"wires":[[],[]]},{"id":"a3ce9136.5c317","type":"ui_chart","z":"75320603.8acdf8","tab":"39c2ee79.c63d12","name":"Light (Lux)","group":"Light (Lux)","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":690,"y":440,"wires":[[],[]]},{"id":"db3c9adf.24c368","type":"ui_chart","z":"75320603.8acdf8","tab":"fba3a3e9.045c6","name":"Window Switch","group":"Window Switch","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":700,"y":480,"wires":[[],[]]},{"id":"c0226d2c.3fdd9","type":"ui_chart","z":"75320603.8acdf8","tab":"fba3a3e9.045c6","name":"Shell Switch","group":"Shell Switch","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":690,"y":520,"wires":[[],[]]},{"id":"5291bf3e.ad6e4","type":"serial in","z":"a9495383.56b6b","name":"","serial":"121cebc6.ede314","x":230,"y":300,"wires":[["80c175ba.7f3e88"]]},{"id":"f73510eb.08caf","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"CO2 (ppm)","group":"Air Condition","order":"1","format":"{{value}}","min":0,"max":"4096","x":690,"y":120,"wires":[]},{"id":"4017c67a.bfe838","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"Air Humidity (%)","group":"Air Condition","order":"1","format":"{{value}}","min":0,"max":"100","x":700,"y":160,"wires":[]},{"id":"35bdd5d6.ca422a","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"Water Temperature (C)","group":"Water Condition","order":"1","format":"{{value}}","min":0,"max":"50","x":730,"y":240,"wires":[]},{"id":"7ad7a152.85286","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"Electrical Conductivity (mS/cm)","group":"Water Condition","order":"1","format":"{{value}}","min":0,"max":"20","x":750,"y":280,"wires":[]},{"id":"c12b87be.3ed478","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"pH","group":"Water Condition","order":"1","format":"{{value}}","min":0,"max":"14","x":670,"y":320,"wires":[]},{"id":"68c355d0.973cac","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"Light (Lux)","group":"Grow Light","order":"1","format":"{{value}}","min":0,"max":"4096","x":690,"y":360,"wires":[]},{"id":"9f985338.6067b","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"Window Switch","group":"Safety Switches","order":"1","format":"{{value}}","min":0,"max":"1","x":700,"y":400,"wires":[]},{"id":"3c98dd45.c36722","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"Shell Switch","group":"Safety Switches","order":"1","format":"{{value}}","min":0,"max":"1","x":690,"y":440,"wires":[]},{"id":"33e578a.fcc1a88","type":"ui_gauge","z":"a9495383.56b6b","tab":"f0b4174.f0f4be8","name":"Air Temperature (C)","group":"Air Condition","order":"1","format":"{{value}}","min":0,"max":"50","x":720,"y":200,"wires":[]},{"id":"80c175ba.7f3e88","type":"function","z":"a9495383.56b6b","name":"Split","func":"var outputMsgs = [];\nvar words = msg.payload.split(\",\");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nreturn [outputMsgs[0],outputMsgs[1],outputMsgs[2],outputMsgs[3],outputMsgs[4],outputMsgs[5],outputMsgs[6],outputMsgs[7],outputMsgs[8]];","outputs":"9","noerr":0,"x":410,"y":300,"wires":[["f73510eb.08caf"],["4017c67a.bfe838"],["33e578a.fcc1a88"],["35bdd5d6.ca422a"],["7ad7a152.85286"],["c12b87be.3ed478"],["68c355d0.973cac"],["9f985338.6067b"],["3c98dd45.c36722"]]},{"id":"1fb368f7.e04c97","type":"serial out","z":"4a4c30e4.b5b3d","name":"","serial":"121cebc6.ede314","x":1080,"y":400,"wires":[]},{"id":"32a370e0.cd5c9","type":"bigtimer","z":"4a4c30e4.b5b3d","outtopic":"","outpayload1":"","outpayload2":"","name":"Grow Light","lat":"53.4808","lon":"2.2426","start":"sunrise","end":"sunset","starttime":"5000","endtime":"5001","startoff":"0","endoff":"0","outtext1":"A","outtext2":"B","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"suspend":false,"random":true,"repeat":true,"atstart":true,"x":790,"y":160,"wires":[["1fb368f7.e04c97"],[],[]]},{"id":"6d2ff4b0.92d00c","type":"bigtimer","z":"4a4c30e4.b5b3d","outtopic":"","outpayload1":"","outpayload2":"","name":"Heater","lat":"53.4808","lon":"2.2426","start":"sunrise","end":"sunset","starttime":"5000","endtime":"5001","startoff":"0","endoff":"0","outtext1":"A","outtext2":"B","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"suspend":false,"random":true,"repeat":true,"atstart":true,"x":770,"y":220,"wires":[["1fb368f7.e04c97"],[],[]]},{"id":"5e3023ec.a1cfdc","type":"bigtimer","z":"4a4c30e4.b5b3d","outtopic":"","outpayload1":"","outpayload2":"","name":"Water Pump","lat":"53.4808","lon":"2.2426","start":"sunrise","end":"sunset","starttime":"5000","endtime":"5001","startoff":"0","endoff":"0","outtext1":"A","outtext2":"B","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"suspend":false,"random":true,"repeat":true,"atstart":true,"x":790,"y":280,"wires":[["1fb368f7.e04c97"],[],[]]},{"id":"eb9c38d9.1463c8","type":"bigtimer","z":"4a4c30e4.b5b3d","outtopic":"","outpayload1":"","outpayload2":"","name":"Air Pump","lat":"53.4808","lon":"2.2426","start":"sunrise","end":"sunset","starttime":"5000","endtime":"5001","startoff":"0","endoff":"0","outtext1":"A","outtext2":"B","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"suspend":false,"random":true,"repeat":true,"atstart":true,"x":780,"y":340,"wires":[["1fb368f7.e04c97"],[],[]]},{"id":"ec25ff1e.13da","type":"bigtimer","z":"4a4c30e4.b5b3d","outtopic":"","outpayload1":"","outpayload2":"","name":"Enclosure Light","lat":"53.4808","lon":"2.2426","start":"sunrise","end":"sunset","starttime":"5000","endtime":"5001","startoff":"0","endoff":"0","outtext1":"A","outtext2":"B","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"suspend":false,"random":true,"repeat":true,"atstart":true,"x":800,"y":460,"wires":[["1fb368f7.e04c97"],[],[]]},{"id":"9e90fec5.616f","type":"bigtimer","z":"4a4c30e4.b5b3d","outtopic":"","outpayload1":"","outpayload2":"","name":"Humidifier","lat":"53.4808","lon":"2.2426","start":"sunrise","end":"sunset","starttime":"5000","endtime":"5001","startoff":"0","endoff":"0","outtext1":"A","outtext2":"B","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"suspend":false,"random":true,"repeat":true,"atstart":true,"x":790,"y":520,"wires":[["1fb368f7.e04c97"],[],[]]},{"id":"3cc8aff5.c3375","type":"bigtimer","z":"4a4c30e4.b5b3d","outtopic":"","outpayload1":"","outpayload2":"","name":"Ventilation Fan","lat":"53.4808","lon":"2.2426","start":"sunrise","end":"sunset","starttime":"5000","endtime":"5001","startoff":"0","endoff":"0","outtext1":"A","outtext2":"B","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"suspend":false,"random":true,"repeat":true,"atstart":true,"x":800,"y":580,"wires":[["1fb368f7.e04c97"],[],[]]},{"id":"2ac0fe22.d53f02","type":"bigtimer","z":"4a4c30e4.b5b3d","outtopic":"","outpayload1":"","outpayload2":"","name":"Circulation Fan","lat":"53.4808","lon":"2.2426","start":"sunrise","end":"sunset","starttime":"5000","endtime":"5001","startoff":"0","endoff":"0","outtext1":"A","outtext2":"B","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"suspend":false,"random":true,"repeat":true,"atstart":true,"x":800,"y":640,"wires":[["1fb368f7.e04c97"],[],[]]},{"id":"a3aeea3c.5c5118","type":"ui_switch","z":"4a4c30e4.b5b3d","tab":"7fc40e82.803bf","name":"Grow Light","topic":"","group":"Manual/Auto","order":1,"onvalue":"auto","offvalue":"manual","x":590,"y":160,"wires":[["32a370e0.cd5c9"]]},{"id":"33784d66.cc87b2","type":"ui_switch","z":"4a4c30e4.b5b3d","tab":"7fc40e82.803bf","name":"Heater","topic":"","group":"Manual/Auto","order":1,"onvalue":"auto","offvalue":"manual","x":570,"y":220,"wires":[["6d2ff4b0.92d00c"]]},{"id":"ca1a2a96.35e5d8","type":"ui_switch","z":"4a4c30e4.b5b3d","tab":"7fc40e82.803bf","name":"Water Pump","topic":"","group":"Manual/Auto","order":1,"onvalue":"auto","offvalue":"manual","x":590,"y":280,"wires":[["5e3023ec.a1cfdc"]]},{"id":"7164ebce.8e9b14","type":"ui_switch","z":"4a4c30e4.b5b3d","tab":"7fc40e82.803bf","name":"Air Pump","topic":"","group":"Manual/Auto","order":1,"onvalue":"auto","offvalue":"manual","x":580,"y":340,"wires":[["eb9c38d9.1463c8"]]},{"id":"a4017ee6.5bfe8","type":"ui_switch","z":"4a4c30e4.b5b3d","tab":"7fc40e82.803bf","name":"Enclosure Light","topic":"","group":"Manual/Auto","order":1,"onvalue":"auto","offvalue":"manual","x":600,"y":460,"wires":[["ec25ff1e.13da"]]},{"id":"db1b3069.24e4d","type":"ui_switch","z":"4a4c30e4.b5b3d","tab":"7fc40e82.803bf","name":"Humidifier","topic":"","group":"Manual/Auto","order":1,"onvalue":"auto","offvalue":"manual","x":590,"y":520,"wires":[["9e90fec5.616f"]]},{"id":"67b997ec.984668","type":"ui_switch","z":"4a4c30e4.b5b3d","tab":"7fc40e82.803bf","name":"Ventilation Fan","topic":"","group":"Manual/Auto","order":1,"onvalue":"auto","offvalue":"manual","x":600,"y":580,"wires":[["3cc8aff5.c3375"]]},{"id":"36f5bc76.c90a44","type":"ui_switch","z":"4a4c30e4.b5b3d","tab":"7fc40e82.803bf","name":"Circulation Fan","topic":"","group":"Manual/Auto","order":1,"onvalue":"auto","offvalue":"manual","x":600,"y":640,"wires":[["2ac0fe22.d53f02"]]},{"id":"92754828.6d8ab8","type":"ui_template","z":"9ce3d7ef.631c28","tab":"acb809b3.5347f8","name":"Webcam","group":"Plant Cam","order":1,"format":"<img src=\"http://130.88.154.7:12121/\">","storeOutMessages":false,"fwdInMessages":false,"x":559,"y":198,"wires":[[]]},{"id":"b09cebd0.4f6318","type":"ui_button","z":"bb3d78f.f44c288","tab":"bf39c47b.40c638","name":"Reboot Raspberry Pi","payload":".","topic":"","group":"Shut Down","order":1,"x":400,"y":260,"wires":[["4e1f5c7.fb1e0a4"]]},{"id":"4e1f5c7.fb1e0a4","type":"exec","z":"bb3d78f.f44c288","command":"sudo reboot","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":670,"y":260,"wires":[[],[],[]]},{"id":"13ba3fd3.ec45c","type":"ui_button","z":"bb3d78f.f44c288","tab":"bf39c47b.40c638","name":"Halt Raspberry Pi","payload":".","topic":"","group":"Shut Down","order":1,"x":390,"y":340,"wires":[["71808e7f.8e7f7"]]},{"id":"71808e7f.8e7f7","type":"exec","z":"bb3d78f.f44c288","command":"sudo halt","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":660,"y":340,"wires":[[],[],[]]},{"id":"31ad7ac4.ce5286","type":"ui_toast","z":"58911c33.a76ee4","name":"Notification","x":690,"y":100,"wires":[]},{"id":"4f9fb5b5.b0604c","type":"trigger","z":"58911c33.a76ee4","op1":"Sensors Updated","op2":"0","op1type":"val","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":480,"y":100,"wires":[["31ad7ac4.ce5286"]]},{"id":"da30895c.25cf78","type":"ui_text_input","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","mode":"text","delay":300,"name":"Light Level Set Point (Lux)","topic":"setpoint","group":"Grow Light","order":1,"x":620,"y":580,"wires":[["7bf6f863.840908"]]},{"id":"88089d49.77f76","type":"ui_text_input","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","mode":"text","delay":300,"name":"Humidity Set Point (%)","topic":"setpoint","group":"Air Conditions","order":1,"x":600,"y":180,"wires":[["8e70943b.718f68"]]},{"id":"23fde86a.dc0218","type":"ui_text_input","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","mode":"text","delay":300,"name":"Air Temperature Set Point (C)","topic":"setpoint","group":"Air Conditions","order":"1","x":630,"y":380,"wires":[["d6b40d22.294bf"]]},{"id":"931c6cc9.6ce39","type":"ui_switch","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","name":"Light: Open/Close Loop","topic":"open_close","group":"Grow Light","order":1,"onvalue":"1","offvalue":"0","x":610,"y":540,"wires":[["7bf6f863.840908"]]},{"id":"aa9848b1.5567b8","type":"ui_switch","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","name":"Humidity: Open/Close Loop","topic":"open_close","group":"Air Conditions","order":1,"onvalue":"1","offvalue":"0","x":620,"y":140,"wires":[["8e70943b.718f68"]]},{"id":"3118a8de.cee758","type":"ui_switch","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","name":"Temperature: Open/Close Loop","topic":"open_close","group":"Air Conditions","order":1,"onvalue":"1","offvalue":"0","x":630,"y":340,"wires":[["d6b40d22.294bf"]]},{"id":"c25dd83c.3da228","type":"ui_text","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","name":"Latest Temperature (C)","group":"Air Conditions","order":"2","format":"{{msg.payload}}","x":610,"y":300,"wires":[]},{"id":"b41a41bd.4be5c","type":"ui_text","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","name":"Latest Humidity (%)","group":"Air Conditions","order":1,"format":"{{msg.payload}}","x":600,"y":100,"wires":[]},{"id":"d1b57537.2e4a88","type":"ui_text","z":"17071dee.e8f8e2","tab":"393b9b77.c6c464","name":"Latest Lux Level (Lux)","group":"Grow Light","order":1,"format":"{{msg.payload}}","x":600,"y":500,"wires":[]},{"id":"d6e50809.291af8","type":"serial in","z":"17071dee.e8f8e2","name":"","serial":"121cebc6.ede314","x":110,"y":320,"wires":[["409c1542.bf63ec"]]},{"id":"409c1542.bf63ec","type":"function","z":"17071dee.e8f8e2","name":"Split","func":"var outputMsgs = [];\nvar words = msg.payload.split(\",\");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nreturn [outputMsgs[0],outputMsgs[1],outputMsgs[2],outputMsgs[3],outputMsgs[4],outputMsgs[5],outputMsgs[6],outputMsgs[7],outputMsgs[8]];","outputs":"9","noerr":0,"x":290,"y":320,"wires":[[],["b41a41bd.4be5c","dc1a31a7.23e5d"],["c25dd83c.3da228","6899590a.9766a8"],[],[],[],["d1b57537.2e4a88","f8953e93.076ac"],[],[]]},{"id":"8e70943b.718f68","type":"function","z":"17071dee.e8f8e2","name":"Simple BangBang","func":"var setpoint_;\nvar current_;\nvar state_;\n\n//////<store_latest_data>//////\nif (msg.topic === \"open_close\") \n{   //select between open or closed loop\n    if (msg.payload === '1') {state_ = true;}\n    else {state_ = false;}\n    //state_ = Boolean(msg.payload);\n    context.set('state_',state_);\n} \n\nelse if (msg.topic === \"setpoint\") \n{   //store setpoint level\n    setpoint_ = parseFloat(msg.payload);\n    context.set('setpoint_',setpoint_);\n}\n\nelse if (msg.topic === \"current\") \n{   //store current level\n    current_ = parseFloat(msg.payload);\n    context.set('current_',current_);\n}\n//////</store_latest_data>/////\n\n/////<get latest data>/////\nsetpoint_ = context.get('setpoint_') || 0;\ncurrent_ = context.get('current_') || 0;\nstate_ = context.get('state_') || false;\n/////</get latest data>////\n\n//should be active only when in closed loop//\n/////<simple_bang-bang_logic>/////\nif (state_ === true) // if in close loop, send control message\n{\n    if (current_ > setpoint_)\n    {   //send high if current condition overshoots\n        msg.payload = \"high\";\n    }\n    else\n    {   //send low if current condition undershoots\n        msg.payload = \"low\";\n    }\n}\nelse//if open loop, ignore any controls\n{\n    msg.payload = \"open\";\n}\n/////</simple_bang-bang_logic>/////\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["64029348.9bfd6c"]]},{"id":"9bda764a.642588","type":"ui_button","z":"bb3d78f.f44c288","tab":"bf39c47b.40c638","name":"Start Webcam","payload":".","topic":"","group":"Webcam","order":1,"x":370,"y":460,"wires":[["19c3f9fe.e63c06"]]},{"id":"19c3f9fe.e63c06","type":"exec","z":"bb3d78f.f44c288","command":"sudo service motion start","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":710,"y":460,"wires":[[],[],[]]},{"id":"b73b71e5.48c49","type":"ui_button","z":"bb3d78f.f44c288","tab":"bf39c47b.40c638","name":"Stop Webcam","payload":".","topic":"","group":"Webcam","order":1,"x":370,"y":540,"wires":[["e65e8142.19a18"]]},{"id":"e65e8142.19a18","type":"exec","z":"bb3d78f.f44c288","command":"sudo service motion stop","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":710,"y":540,"wires":[[],[],[]]},{"id":"dc1a31a7.23e5d","type":"function","z":"17071dee.e8f8e2","name":"change topic name","func":"msg.topic = \"current\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["8e70943b.718f68"]]},{"id":"6899590a.9766a8","type":"function","z":"17071dee.e8f8e2","name":"change topic name","func":"msg.topic = \"current\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["d6b40d22.294bf"]]},{"id":"f8953e93.076ac","type":"function","z":"17071dee.e8f8e2","name":"change topic name","func":"msg.topic = \"current\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["7bf6f863.840908"]]},{"id":"d6b40d22.294bf","type":"function","z":"17071dee.e8f8e2","name":"Simple BangBang","func":"var setpoint_;\nvar current_;\nvar state_;\n\n//////<store_latest_data>//////\nif (msg.topic === \"open_close\") \n{   //select between open or closed loop\n    if (msg.payload === '1') {state_ = true;}\n    else {state_ = false;}\n    //state_ = Boolean(msg.payload);\n    context.set('state_',state_);\n} \n\nelse if (msg.topic === \"setpoint\") \n{   //store setpoint level\n    setpoint_ = parseFloat(msg.payload);\n    context.set('setpoint_',setpoint_);\n}\n\nelse if (msg.topic === \"current\") \n{   //store current level\n    current_ = parseFloat(msg.payload);\n    context.set('current_',current_);\n}\n//////</store_latest_data>/////\n\n/////<get latest data>/////\nsetpoint_ = context.get('setpoint_') || 0;\ncurrent_ = context.get('current_') || 0;\nstate_ = context.get('state_') || false;\n/////</get latest data>////\n\n//should be active only when in closed loop//\n/////<simple_bang-bang_logic>/////\nif (state_ === true) // if in close loop, send control message\n{\n    if (current_ > setpoint_)\n    {   //send high if current condition overshoots\n        msg.payload = \"high\";\n    }\n    else\n    {   //send low if current condition undershoots\n        msg.payload = \"low\";\n    }\n}\nelse//if open loop, ignore any controls\n{\n    msg.payload = \"open\";\n}\n/////</simple_bang-bang_logic>/////\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":380,"wires":[["9ea5b00a.615a5"]]},{"id":"7bf6f863.840908","type":"function","z":"17071dee.e8f8e2","name":"Simple BangBang","func":"var setpoint_;\nvar current_;\nvar state_;\n\n//////<store_latest_data>//////\nif (msg.topic === \"open_close\") \n{   //select between open or closed loop\n    if (msg.payload === '1') {state_ = true;}\n    else {state_ = false;}\n    //state_ = Boolean(msg.payload);\n    context.set('state_',state_);\n} \n\nelse if (msg.topic === \"setpoint\") \n{   //store setpoint level\n    setpoint_ = parseFloat(msg.payload);\n    context.set('setpoint_',setpoint_);\n}\n\nelse if (msg.topic === \"current\") \n{   //store current level\n    current_ = parseFloat(msg.payload);\n    context.set('current_',current_);\n}\n//////</store_latest_data>/////\n\n/////<get latest data>/////\nsetpoint_ = context.get('setpoint_') || 0;\ncurrent_ = context.get('current_') || 0;\nstate_ = context.get('state_') || false;\n/////</get latest data>////\n\n//should be active only when in closed loop//\n/////<simple_bang-bang_logic>/////\nif (state_ === true) // if in close loop, send control message\n{\n    if (current_ > setpoint_)\n    {   //send high if current condition overshoots\n        msg.payload = \"high\";\n    }\n    else\n    {   //send low if current condition undershoots\n        msg.payload = \"low\";\n    }\n}\nelse//if open loop, ignore any controls\n{\n    msg.payload = \"open\";\n}\n/////</simple_bang-bang_logic>/////\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":600,"wires":[["c544a764.3abb58"]]},{"id":"e32e9608.1cd168","type":"serial out","z":"17071dee.e8f8e2","name":"","serial":"121cebc6.ede314","x":1580,"y":380,"wires":[]},{"id":"64029348.9bfd6c","type":"function","z":"17071dee.e8f8e2","name":"change topic name","func":"msg.topic = \"humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":180,"wires":[["45f13975.ba0ec8"]]},{"id":"c544a764.3abb58","type":"function","z":"17071dee.e8f8e2","name":"change topic name","func":"msg.topic = \"lux\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":600,"wires":[["45f13975.ba0ec8"]]},{"id":"9ea5b00a.615a5","type":"function","z":"17071dee.e8f8e2","name":"change topic name","func":"msg.topic = \"temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":380,"wires":[["45f13975.ba0ec8"]]},{"id":"45f13975.ba0ec8","type":"function","z":"17071dee.e8f8e2","name":"Simple On/Off","func":"if (msg.topic === \"humidity\") \n{   \n    if (msg.payload === \"low\") {msg.payload = 'K';}\n    else if (msg.payload === \"high\") {msg.payload = 'L';}\n} \n\nelse if (msg.topic === \"temperature\") \n{   \n    if (msg.payload === \"low\") {msg.payload = 'C';}\n    else if (msg.payload === \"high\") {msg.payload = 'D';}\n}\n\nelse if (msg.topic === \"lux\") \n{\n    if (msg.payload === \"low\") {msg.payload = 'A';}\n    else if (msg.payload === \"high\") {msg.payload = 'B';}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":380,"wires":[["e32e9608.1cd168"]]},{"id":"b5b03c8.f4a4fc","type":"inject","z":"746d4730.8b92b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":432,"y":359,"wires":[["47fd9e.ffb8026"]]},{"id":"47fd9e.ffb8026","type":"exec","z":"746d4730.8b92b8","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":647,"y":358.5,"wires":[["e756da6e.18a928"],[],[]]},{"id":"e756da6e.18a928","type":"function","z":"746d4730.8b92b8","name":"msg.payload","func":"msg.payload = {\"d\":{\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")}};\nreturn msg;","outputs":1,"noerr":0,"x":849,"y":344,"wires":[["b8f3a1cd.470c6"]]},{"id":"b8f3a1cd.470c6","type":"wiotp out","z":"746d4730.8b92b8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"11e4431a.ee1bbd","deviceType":"RaspberryPi","deviceId":"RasPi01","event":"event","format":"json","name":"gateway","x":1071,"y":344.5,"wires":[]},{"id":"869a0c9f.343b4","type":"serial in","z":"68e42ce0.dca744","name":"","serial":"121cebc6.ede314","x":343,"y":182,"wires":[["ef762b1.661a6d8"]]},{"id":"9d2335c2.ceb218","type":"serial out","z":"68e42ce0.dca744","name":"","serial":"121cebc6.ede314","x":661,"y":310,"wires":[]},{"id":"6b7e60c7.5b09d","type":"mqtt in","z":"68e42ce0.dca744","name":"","topic":"/food_computer_1/control","qos":"2","broker":"16137d65.0d2773","x":370,"y":309,"wires":[["9d2335c2.ceb218"]]}]